In [91]:
import pandas as pd
import psycopg2 as pg

In [4]:
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

## Pscopg2

### Schema Query

In [84]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

In [85]:
cursor = conn.cursor()

query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""

cursor.execute(query_schema)

In [86]:
record = cursor.fetchall()
cursor.close()
conn.close()

In [87]:
record

[('pg_toast',),
 ('pg_temp_1',),
 ('pg_toast_temp_1',),
 ('pg_catalog',),
 ('information_schema',),
 ('public',),
 ('pa004',),
 ('pg_temp_4',),
 ('pg_toast_temp_4',),
 ('pa005',),
 ('pg_temp_9',),
 ('pg_toast_temp_9',)]

### Table Query

In [40]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

In [41]:
cursor = conn.cursor()

query_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname = 'pa004'
"""

cursor.execute(query_tables)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

### Collecting Data

In [88]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

In [89]:
query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON (u.id = v.id)
        LEFT JOIN pa004.insurance i ON (u.id = i.id)
    WHERE u.age > 44
"""

df1 = pd.read_sql(query_tables_users, conn)
df1 = df1.drop(df.columns[[5, 9]], axis = 1)
df1.head()

C:\Users\pgdem\AppData\Local\Temp\ipykernel_1532\3348758808.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(query_tables_users, conn)

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Female,56,28.0,26.0,1,1-2 Year,Yes,0,32031.0,72,1
1,Female,47,35.0,124.0,1,1-2 Year,Yes,0,47576.0,46,1
2,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0
3,Female,54,28.0,122.0,1,1-2 Year,No,0,38560.0,184,0
4,Female,49,3.0,152.0,1,1-2 Year,No,1,25553.0,130,0

In [90]:
conn.close()