# 0.0. Imports

In [2]:
import pandas as pd
import psycopg2 as pg

# 1.0. Load Dataset

## 1.1. Credentials

In [3]:
# due to security reasons we are not sharing the credentials
# from consulted database. 

#host = 
#port = 
#database = 
#username = 
#pwd =

## 1.2. Queries

### 1.2.1. Schema Query

In [4]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

cursor = conn.cursor()

query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""

cursor.execute(query_schema)

record = cursor.fetchall()
print(record)
cursor.close()
conn.close()

[('pg_toast',), ('pg_temp_1',), ('pg_toast_temp_1',), ('pg_catalog',), ('information_schema',), ('public',), ('pa004',), ('pg_temp_4',), ('pg_toast_temp_4',), ('pa005',), ('pg_temp_9',), ('pg_toast_temp_9',)]

### 1.2.2. Table Query

In [5]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

cursor = conn.cursor()

query_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname = 'pa004'
"""

cursor.execute(query_tables)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

## 1.3. Collecting Data

In [ ]:
conn = pg.connect(user = username, password = pwd, 
                host = host, port = port, database = database)

query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON (u.id = v.id)
        LEFT JOIN pa004.insurance i ON (u.id = i.id)
    WHERE u.age > 44
"""

df = pd.read_sql(query_tables_users, conn)
conn.close()
#df = df.drop(df.columns[[5, 9]], axis = 1)
df.head()

In [30]:
data_raw = df.iloc[:, [0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13]]
data_raw.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,8,Female,56,28.0,26.0,1,1-2 Year,Yes,0,32031.0,72,1
1,11,Female,47,35.0,124.0,1,1-2 Year,Yes,0,47576.0,46,1
2,39,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0
3,42,Female,54,28.0,122.0,1,1-2 Year,No,0,38560.0,184,0
4,53,Female,49,3.0,152.0,1,1-2 Year,No,1,25553.0,130,0

### 1.3.1. Saving Data to a .csv File

In [32]:
data_raw.to_csv('../data/raw/data_raw_db.csv', index = False)